.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  margin: 10px;
  width: 80%;
  height: 80%;
  border-radius: 20px;
  box-shadow:
    -1px -1px 4px rgba(0, 0, 0, 0.2),
    2px 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fcfbfb;
}

.compoundImage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compoundImage img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  border-radius: 8px;
  transition: filter 0.3s ease-in-out;
}

.compoundImage img:hover {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0));
}

.compoundInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text-content {
  text-align: center;
  padding: 5px;
}

.compoundName {
  font-weight: 700;
  font-size: 2.3rem;
  display: inline;
  position: relative;
  transition: filter 0.3s ease-in-out;
}

.compoundName:hover {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.5));
}

.compoundName::after {
  content: "";
  position: absolute;
  background-color: #38f2ae;
  bottom: 0px;
  left: 0px;
  width: 0;
  height: 3px;
  transition: width 900ms ease-in-out;
}

.compoundName:hover::after {
  width: 100%;
}

.compoundDescription {
  transition: filter 0.3s ease-in-out;
  padding-top: 10px;
}

.compoundDescription:hover {
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0));
}

button {
  padding: 10px 40px;
}

.buttons-container {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    position: relative;
    height: auto;
  }

  .compoundInfo {
    width: 100%;
  }

  .compoundImage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 60px;
  }

  .compoundImage img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 8px;
    /* display: block; */
    /* transition: filter 0.3s ease-in-out; */
  }

  .buttons-container {
    width: 100%;
    position: absolute;
    bottom: 10px;
  }

  .buttons-container button {
    padding: 10px 20px;
  }

  .compoundImage img:hover {
    filter: none;
  }

  .compoundName {
    transition: none;
  }

  .compoundName:hover {
    filter: none;
  }

  .compoundName::after {
    transition: none;
  }

  .compoundName:hover::after {
    width: 0;
  }

  .compoundDescription {
    transition: none;
  }

  .compoundDescription:hover {
    filter: none;
  }

  button {
    transition: none;
  }

  .compoundImage img {
    transition: none;
  }
}
