<main>
  <div class="container">
    <card
      class="compound-card"
      *ngFor="let compound of compounds"
      [data]="compound"
    />
  </div>
</main>

<footer>
  <div class="footer">
    <button
      class="arrowButton"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>

    <span class="pageNumbers" style="background-color: white"
      >{{ currentPage }} / {{ totalPages }}</span
    >
    <button
      class="arrowButton"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</footer>
