<!-- <mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ data.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ data.image }}" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>
      {{ data.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>View</button>
  </mat-card-actions>
</mat-card> -->





  <!-- <mat-card-title>{{ data.name }}</mat-card-title>
  <mat-card-content
    ><img
      style="width: 100px"
      mat-card-image
      src="{{ data.image }}"
      alt="Photo of a Shiba Inu"
  /></mat-card-content> -->






<mat-card (click)="clickHandler()">
  <div class="card-content">
    <img
    class="compound-image"
      class="compound-image"
      style="width: 100px"
      mat-card-image
      src="{{ data.image }}"
      alt="Photo of a Shiba Inu"
    />
    <div class="compound-name">{{ data.name }}</div>
  </div>

</mat-card>
