@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}



button {
  background-color: #521ff8;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transition: background-color 0.6s ease; */
  transition: box-shadow 0.4s ease;
  /* transition: color 0.6s ease; */
}

button:hover {
  cursor: pointer;
  background-color: #f6f5f5;
  color: #38f2ae;
  /* color: #521ff8; */
  box-shadow:
    -1px -1px 4px #6a3ef9,
    2px 2px 4px #6a3ef9;
}